<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>Life Counter</title>
    <style>
      body {
        touch-action: none;
      }
      .count-parent-div {
        display: flex;
        font-size: 8rem;
        height: 80%;
        width: 100%;
      }

      .child-div-one,
      .child-div-two {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        color: white;
        border-radius: 10px;
        margin: 10px;
      }
      .whole-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 10rem;
      }
      .child-div-one button,
      .child-div-two button {
        /* margin: 5px;
        padding: 10px 20px; */
        background-color: black;
        color: white;
        font-size: 50px;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="count-parent-div">
      <div class="child-div-one">
        <div class="whole-div" onclick="incrementOne()">
          <button>+</button>
        </div>
        <div class="count-value" id="countOne"><%= countOne %></div>
        <div class="whole-div" onclick="decrementOne()">
          <button>-</button>
        </div>
      </div>
      <div class="child-div-two">
        <div class="whole-div" onclick="incrementTwo()">
          <button>+</button>
        </div>
        <div class="count-value-two" id="countTwo"><%= countTwo %></div>
        <div class="whole-div" onclick="decrementTwo()">
          <button>-</button>
        </div>
      </div>
    </div>
    <!-- Include Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
      window.baseurl = "<%= baseurl %>";
    </script>
    <!-- Your script for handling increments and decrements -->
    <script src="/client.js"></script>
  </body>
</html>
